
body {
  background-color: #080710;
}

::placeholder {
  color: #e5e5e5;
}
input [type="submit" i] {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}



.startButton {
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}

#back {
  position: absolute;
  margin: 1%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2%;
  height: 100vh;
}


.shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  z-index: -99;
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -90px;
  bottom: -90px;
  overflow: hidden;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -90px;
  top: -90px;
}

form {
  width: 23%;
  background-color: rgba(87, 87, 87, 0.582);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 50px 35px;
  margin: auto;
  position: relative;
}

.regForm {
  height: 100vh;
  display: flex;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}


.formButton {
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.altButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

.altButton a {
  margin-left: 5px;
  color: greenyellow;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

input:focus {
  box-shadow: 0 0 3px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1);
  background: linear-gradient(#252725, rgba(149, 98, 36, 0));
  animation: glow 0.8s ease-out infinite alternate;
}

@keyframes glow {
  0% {
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1);
  }

  100% {
    border-color: greenyellow;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6),
      inset 0 0 10px rgba(0, 255, 0, 0.4);
  }
}

.successbox {
  color: limegreen;
  padding: 3%;
  border: 1px solid lime;
  margin-top: 5%;
}

.errorbox {
  padding: 3%;
  border: 1px solid red;
  margin-top: 5%;
  color: red;
}
